<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charmonman&family=Lato&family=PT+Serif:ital@1&family=Source+Serif+4:opsz@8..60&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body class="index">
    <section id="title">
        <div class="container col-md-4 col-sm-3 col-lg-6 col-xl-12 col-xs-2">
            <h1 >Daily TO-Do List</h1>
            <h2 ><%=new Date().toDateString()%></h2>
        </div>
    </section>
    <section id="do-list">
        <div class="box list ">
            <div class="items"><p><hr /></p> </div>
            <% for(var i=0;i<locals.length;i++){%>
                <div class="items"><input type="checkbox"><p><%=locals.add[i]%><hr /></p></div>
            <% } %>
            <div class="newLine">
            <form action="/" method="POST">
                <input type="text" name="newItem" placeholder="newItem">
                <button type="submit" class="btn bg-white button">✖️</button>
              </form>
            </div>
        </div>
    </section>
   
</body>
</html>

<%- include("partials/footer.ejs") %>